bin/
**/generated/
.local/
node_modules/
docs/
.git/
.idea/
.vscode/
.circleci/
.github/
.eslintrc.js
.flake8
.golangci.yaml
.pre-commit-config.yaml
.prettierignore
.prettierrc.json
.sonarcloud.properties
.tool-versions
CODEOWNERS
DEPENDENCIES.md
jest.config.ts
jest.preset.js
README.md
sonar-project.properties
